<!Doctype HTML>
<html>
<head>
<!-- The next four lines need to be on every page for bootstrap to do its thing -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oxygen" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<!-- This line links Angular.js which makes the dynamic aspects of the site work -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- This is the link for the sticky footer -->
<link href="static/bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">
<title>Steff Bisinger - Portfolio</title>
</head>
<body>
<!-- Let the Angular begin -->
<script>
var app = angular.module("myPortfolioApp", []);
app.controller("pageCtrl", function($scope){
  //$scope.page='about';
  $scope.aboutPage=function(){
    $scope.page='about';
  }
  $scope.employmentPage=function(){
    $scope.page='employment';
    //Load the JSON of employers and dates
    $http.get("employers.json").then(function(response){
      $scope.employers = response.data.records;
    });
  }
  $scope.projectPage=function(){
    $scope.page='projects';
    //Load the JSON of projects
    //$http.get("projects.json").then(function(response){
    //  $scope.projects = response.data.records;
    //});
  }
  $scope.resumePage=function(){
    $scope.page='resume';
  }

});
</script>
<div data-ng-app="myPortfolioApp" data-ng-controller="pageCtrl" data-ng-init="page='about'">
<!-- This is the navigation bar -->
<nav class="navbar navbar-dark bg-dark">
<a class="navbar-brand" data-ng-click="aboutPage()">Steff Bisinger</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" data-ng-click="aboutPage()">About Me</a></li>
    <li class="nav-item"><a class="nav-link" data-ng-click="employmentPage()">Employment</a></li>
    <li class="nav-item"><a class="nav-link" data-ng-click="projectPage()">Projects</a>
    <li class="nav-item"><a class="nav-link" data-ng-click="resumePage()">Resume</a></li>
</ul>
<span class="navbar-text">IT Security Professional</span>
</div>
</nav>

<!-- Landing page content begins here -->
<div class="container">
<div id="about" data-ng-show="page=='about'">
<div class="page-header">
<h1>My Name is Steff Bisinger</h1>
<hr class="my-4">
<p>I am a security professional with a Master's in Information Assurance from Iowa State University.
My main interests are in penetration testing and secure development practices.
</p>
</div>

<div class="card border-primary">
    <div class="card-header">
        <h2>Contact Information</h2>
    </div>
    <div class="card-body">
        <img src="my-photo.jpg" alt="A photo of me" />
        <p>
        <br>Phone: (319)-350-3130
        <br>Email: srbising@gmail.com
        <br/>LinkedIn: <a href="https://www.linkedin.com/in/srbising">Click here</a>
        </p>
    </div>
</div>
</div>

<div id="employment" data-ng-show="page=='employment'">
<div class="page-header">
<h1>I've Worked At...</h1>
</div>
<div class="accordion" id="employerAccordion">
  <div class="card" data-ng-repeat="x in employers">
    <div class="card-header" id="{{x.ID}}">
      <h5>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#c{{x.ID}}" aria-expanded="false" aria-controls="c{{x.ID}}">
          {{x.Company}}
        </button>
      </h5>
    </div>
    <div class="collapse" id="c{{x.ID}}" aria-labelledby="{{x.ID}}" data-parent="#employerAccordion">
      <div class="card-body">
        <p><br/>Dates: {{x.Dates}}
        <br/>About My Experience: {{x.About}}
        <br/>Top Skills: {{x.Skills}}</p>
      </div>
    </div>
  </div>
</div>
</div>

</div><!-- End container -->
</div><!-- End Angular -->
<!-- The footer starts here -->
<div class="footer" id="footer">
    <div class="container">
        <p class="text-muted">Like my website? <a href="https://github.com/regalcat/webfolio">
        Check out the code</a></p>
    </div>
</div>

</body>
</html>
